.service-card {
    border-radius: 12px;
    padding: 20px;
    transition: all 0.2s ease;
  }
  
  .service-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }
  
  .services-background {
    background-color: #f2f2f2;
  }
  .text-primary {
    color: #1D54B1 !important;
  }

  .text-secondary {
    color: #384361 !important;
  }

  /* El layout ocupa toda la pantalla */
/* layout general */
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
